{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="text-center">List of Books</h1>
    </div>

    <div class="bookList">
        <table id="myTable" class="display" style="width: 100%">
            <thead>
            <th>id</th>
            <th>title</th>
            <th>owner</th>
            <th>Author</th>
            </thead>
            {% for books in bookList %}
            <tbody>
                <tr>
                    <td>{{ books.id }}</td>
                    <td>{{ books.title }}</td>
                    <td>{{ books.owner.firstname }} {{ books.owner.lastname }}</td>
                    <td>{{ books.author.firstname }} {{ books.author.lastname }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <th>ID</th>
            <th>Title</th>
            <th>Owner</th>
            <th>Author</th>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block javascripts %} {{ parent() }}s

{% endblock %}